= simple_form_for @user, url: sessions_path, :html => { :class => 'form-horizontal' } do |f|
  = f.input :username
  = f.input :password
  .form-actions
    = f.button :submit, "ログイン", :class => 'btn btn-primary', data: { disable_with: I18n.t("helpers.links.sending") }
    = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn'
