%h1 comments

%table.table
  %tr
    %th User
    %th Post
    %th Body
    %th=t '.actions', :default => t("helpers.actions")

  - @comments.each do |comment|
    %tr
      %td= comment.user
      %td= comment.post
      %td= comment.body
      %td
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_comment_path(comment), :class => 'btn btn-mini'
        = link_to t('.destroy', :default => t("helpers.links.destroy")), comment_path(comment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

%br

= link_to t('.new', :default => t("helpers.links.new")), new_comment_path, :class => 'btn btn-primary'
