= simple_form_for(@user, html: { class: 'form-horizontal'} ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username
    - if f.object.new_record?
      = f.input :password
      = f.input :password_confirmation

  .form-actions
    = f.button :submit, class: "btn btn-primary", data: { disable_with: I18n.t("helpers.links.sending") }
    = link_to_back t('.cancel', :default => t("helpers.links.cancel")), :class => 'btn'
