%h1 users

%table.table
  %tr
    %th Username
    %th Crypted password
    %th Salt
    %th=t '.actions', :default => t("helpers.actions")

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.crypted_password
      %td= user.salt
      %td
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-mini'
        = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

%br

= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
