= simple_form_for(@post, html: { class: 'form-horizontal'} ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :text
    = f.input :url

  .form-actions
    = f.button :submit, class: "btn btn-primary", data: { disable_with: I18n.t("helpers.links.sending") }
    = link_to_back t('.cancel', :default => t("helpers.links.cancel")), :class => 'btn'
