.page-header
  %h1=t '.title', :default => [:'helpers.titles.index', 'Index of %{model}'], :model => Post.model_name.human

= render "search_form"

- posts = @posts.page(params[:page])
= paginate posts
%table.table
  %tr
    %th= User.human_attribute_name(:username)
    %th= sort_link @q, :created_at, "投稿日時"
    %th= Post.human_attribute_name(:text)
    %th= Post.human_attribute_name(:url)
    %th= sort_link @q, :comments_count, 'コメント数'
    %th=t '.actions', :default => t("helpers.actions")

  = render posts
= paginate posts
