- model_class = Post
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%dl
  %dt User
  %dd= @post.user.username
  %dt Text
  %dd= @post.text
  %dt Url
  %dd= @post.url

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn' if can? :update, @post
  = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if can? :destroy, @post

%h2 コメント
%ul
  = render @post.cached_comments
= link_to t('.new', :default => t("helpers.links.new")), new_post_comment_path(@post), :class => 'btn btn-primary'
